
/* GÉNÉRIQUE */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;     
}

body {
    margin: 0;
    padding: 0;
}


/* FLOAT */

.border-blue {
    border : 5px solid blue;
}

.border-green {
    border : 5px solid green;
}

.parent {
    margin-top: 10px;;
    overflow: auto;
}

.float-left {
    float: left;
    width : 20vw;
}

.float-right {
    float: right;
    width : 20vw;
}


/* CLEAR */

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}


/* LIST */

li {
    margin-right: 10px;
}

.georgian li {
    list-style-type: georgian;
}

.upper-alpha,
.georgian .upper-alpha {
    list-style-type: upper-alpha;

}

.no-style-type li {
    list-style-type: none;
}


.horizontale li {
    display: inline;
}



/* TABLEAUX */

table {
    margin: 0 auto;
}

table,
caption,
th,
td {
    border: 2px solid blue;
    padding: 5px;
}

caption {
    background-color: orange;;
}



/* ÉLÉMENTS */
/* Typo */

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    color: inherit;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 25px;
    line-height: 1.2;
}

h2 {
    font-size: 22px;
    line-height: 1.25;
}

h3 {
    font-size: 20px;
    line-height: 1.3; 
}

h4,
h5,
h6 {
    font-size: 18px;
    line-height: 1.35; 
}


p,
li {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
}


/* OBJECTS */

.hidden {
    top: 0;
    left: -500vw;
    position: absolute;
}

.wrapper {
    padding: 3vw 6vw;
}